In [2]:
import pandas

In [3]:
data  = pandas.read_csv("pdb_query_results.csv")

In [4]:
data.head()

,PDB ID,High Resolution Limit,Reflections For Refinement,Structure Determination Method
0,101M,2.07,12340.0,MOLECULAR REPLACEMENT
1,106M,1.99,13046.0,MOLECULAR REPLACEMENT
2,12AS,2.20,24815.0,NaN
3,12E8,1.90,58785.0,MOLECULAR REPLACEMENT
4,16PK,1.60,65142.0,MOLECULAR REPLACEMENT

In [5]:
data.describe()

       High Resolution Limit  Reflections For Refinement
count           56605.000000                5.615900e+04
mean                2.047622                5.399994e+04
std                 0.536152                6.970606e+04
min                 0.480000                0.000000e+00
25%                 1.700000                2.027450e+04
50%                 2.000000                3.614700e+04
75%                 2.350000                6.515950e+04
max                10.000000                4.797606e+06